<form class="money-card-form">
    <h3 class="money-card-form__title">
        New
        {{
            type === 'revenues'
                ? 'Revenue'
                : type === 'consumptions'
                ? 'Consumption'
                : ''
        }}
    </h3>
    <div class="money-card-form-field">
        <input
            type="text"
            id="name"
            class="money-card-form-field__input"
            required
            minlength="1"
            [(ngModel)]="moneyCard.name"
            name="name"
        />
        <label for="name" class="money-card-form-field__label"
            ><span>Name</span></label
        >
    </div>
    <div class="money-card-form-field">
        <input
            type="number"
            id="value"
            class="money-card-form-field__input"
            required
            min="0.01"
            step="0.01"
            [(ngModel)]="moneyCard.value"
            name="value"
        />
        <label for="value" class="money-card-form-field__label"
            ><span>Value</span></label
        >
    </div>
    <div class="money-card-form-field">
        <select
            type="text"
            id="name"
            class="money-card-form-field__select"
            required
            [(ngModel)]="moneyCard.currency"
            name="currency"
        >
            <option value="RUB">RUB</option>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
        </select>
        <label for="name" class="money-card-form-field__label"
            ><span>Currency</span></label
        >
    </div>
    <div class="money-card-form-field">
        <select
            type="text"
            id="name"
            class="money-card-form-field__select"
            required
            [(ngModel)]="moneyCard.period"
            name="period"
        >
            <option value="Daily">Daily</option>
            <option value="Monthly">Monthly</option>
            <option value="Annualy">Annualy</option>
        </select>
        <label for="name" class="money-card-form-field__label"
            ><span>Period</span></label
        >
    </div>
    <div class="money-card-form-field">
        <button class="money-card-form-field__button" (click)="addMoneyCard()">
            Add
            {{
                type === 'revenues'
                    ? 'Revenue'
                    : type === 'consumptions'
                    ? 'Consumption'
                    : ''
            }}
        </button>
    </div>
</form>
