<div *ngIf="consumption !== undefined" class="consumption">
  <div class="consumption-header">
    <h3 class="consumption-header-name">
      {{ consumption?.name }}
    </h3>
  </div>
  <div class="consumption-body">
    <div class="consumption-body-value">
      <span class="consumption-body-value__label">Value:</span> <span class="consumption-body-value__value">{{ consumption?.value }} {{ consumption?.currency}}</span>
    </div>
    <div class="consumption-body-period">
      <span class="consumption-body-period__label">Period:</span> <span class="consumption-body-period__value">{{ consumption?.period }}</span>
    </div>
  </div>
  <div class="consumption-actions">
    <button class="consumption-actions-delete" (click)="deleteConsumption()">
      X
    </button>
  </div>
</div>
