.consumptions {
  display: flex;
  flex-direction: column;
  gap: 40px;
  &-content {
    display: grid;
    grid-template-columns: 20% 70%;
    gap: 40px;
  }
}

@media (max-width: 1024px) {
  .consumptions {
    &-content {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
