.money-card {
  background-color: #212121;
  color: #ffffff;
  &-header {
    text-align: center;
    background-color: #000000;
    padding: 0.5em;
  }
  &-body {
    padding: 0.5em;

    display: grid;
    &-value,
    &-period {
      display: flex;
      justify-content: space-between;
    }

    &-value + &-period {
      margin-top: 8px;
    }

    &-value {
      &__value {
        &.consumption {
          color: #f05545;
        }
        &.revenue {
          color: #4c8c4a;
        }
      }
    }
  }

  &-actions {
    padding: 0.5em;
    &-delete {
      background-color: #b71c1c;
    }
  }
}
