<div *ngIf="moneyCard !== undefined" class="money-card">
    <div class="money-card-header">
      <h3 class="money-card-header-name">
        {{ moneyCard?.name }}
      </h3>
    </div>
    <div class="money-card-body">
      <div class="money-card-body-value">
        <span class="money-card-body-value__label">Value:</span> <span class="money-card-body-value__value" [ngClass]="{'revenue': type === 'revenues', 'consumption': type === 'consumptions'}">{{ moneyCard?.value }} {{ moneyCard?.currency}}</span>
      </div>
      <div class="money-card-body-period">
        <span class="money-card-body-period__label">Period:</span> <span class="money-card-body-period__value">{{ moneyCard?.period }}</span>
      </div>
    </div>
    <div class="money-card-actions">
      <button class="money-card-actions-delete" (click)="deleteMoneyCard()">
        X
      </button>
    </div>
  </div>
  