.page-wrapper {
  min-height: 100vh;
  display: flex;
  & .content {
    padding: 8px 16px;
    max-width: 80vw;
    margin: 0 auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}
