<div class="page-wrapper">
  <main class="content">
    <form class="income">
      <div class="income-field">
        <input
          id="income-value-input"
          class="income-field__input"
          type="number"
          [(ngModel)]="income"
          (input)="onIncomeChange($event)"
          name="income"
        />
        <label for="income-value-input" class="income-field__label">Income</label>
      </div>
      <div class="income-field">
        <select
          id="income-currency-select"
          class="income-field__select"
          [(ngModel)]="incomeCurrency"
          (input)="onIncomeCurrencyChange($event)"
          name="incomeCurrency"
        >
          <option vale="RUB">RUB</option>
          <option vale="USD">USD</option>
          <option vale="EUR">EUR</option>
        </select>
        <label for="income-currency-select" class="income-field__label">Currency</label>
      </div>
      <div class="income-field">
        <select
          id="income-period-select"
          class="income-field__select"
          [(ngModel)]="incomePeriod"
          (input)="onIncomePeriodChange($event)"
          name="incomePeriod"
        >
          <option vale="RUB">Daily</option>
          <option vale="USD">Monthly</option>
          <option vale="EUR">Annualy</option>
        </select>
        <label for="income-period-select" class="income-field__label">Period</label>
      </div>
    </form>
    <div class="total">
      <div class="total-title">Left Monthly</div>
      <div class="total-values">
        <div class="total-values-item">
          <span class="total-values-item__value">{{
            leftRUB | number: "1.2-2"
          }}</span>
          <span class="total_values-item__currency">RUB</span>
        </div>
        <div class="total-values-item">
          <span class="total-values-item__value">{{
            leftUSD | number: "1.2-2"
          }}</span>
          <span class="total_values-item__currency">USD</span>
        </div>
        <div class="total-values-item">
          <span class="total-values-item__value">{{
            leftEUR | number: "1.2-2"
          }}</span>
          <span class="total_values-item__currency">EUR</span>
        </div>
      </div>
    </div>
    <div class="consumptions">
      <app-consumption
        *ngFor="let consumption of consumptions"
        [consumption]="consumption"
      ></app-consumption>
    </div>
    <div class="total">
      <div class="total-title">Total Monthly</div>
      <div class="total-values">
        <div class="total-values-item">
          <span class="total-values-item__value">{{
            totalRUB | number: "1.2-2"
          }}</span>
          <span class="total_values-item__currency">RUB</span>
        </div>
        <div class="total-values-item">
          <span class="total-values-item__value">{{
            totalUSD | number: "1.2-2"
          }}</span>
          <span class="total_values-item__currency">USD</span>
        </div>
        <div class="total-values-item">
          <span class="total-values-item__value">{{
            totalEUR | number: "1.2-2"
          }}</span>
          <span class="total_values-item__currency">EUR</span>
        </div>
      </div>
    </div>
    <div class="total">
      <div class="total-title">Total Yearly</div>
      <div class="total-values">
        <div class="total-values-item">
          <span class="total-values-item__value">{{
            totalRUB * 12 | number: "1.2-2"
          }}</span>
          <span class="total_values-item__currency">RUB</span>
        </div>
        <div class="total-values-item">
          <span class="total-values-item__value">{{
            totalUSD * 12 | number: "1.2-2"
          }}</span>
          <span class="total_values-item__currency">USD</span>
        </div>
        <div class="total-values-item">
          <span class="total-values-item__value">{{
            totalEUR * 12 | number: "1.2-2"
          }}</span>
          <span class="total_values-item__currency">EUR</span>
        </div>
      </div>
    </div>
    <app-consumption-form></app-consumption-form>
    <router-outlet></router-outlet>
  </main>
</div>
