
<aside class="sidebar" [ngClass]="{'active': isActive}">
  <button class="sidebar-burger" (click)="toggleSidebar()">Burger</button>
  <nav class="sidebar-navigation">
    <ul class="sidebar-navigation-links">
        <a class="sidebar-navigation-links-link" routerLink="/dashboard" routerLinkActive="active"><li class="sidebar-navigation-links-link__item">Dashboard</li></a>
        <a class="sidebar-navigation-links-link" routerLink="/consumptions" routerLinkActive="active"><li class="sidebar-navigation-links-link__item">Consumptions</li></a>
        <a class="sidebar-navigation-links-link" routerLink="/revenues" routerLinkActive="active"><li class="sidebar-navigation-links-link__item">Revenues</li></a>
    </ul>
  </nav>
</aside>
