<div class="dashboard">
  <app-money-card [title]="'Total Revenues'" [rubValue]="totalRevenues.RUB" [usdValue]="totalRevenues.USD" [eurValue]="totalRevenues.EUR" [period]="'Monthly'"></app-money-card>
  <app-money-card [title]="'Total Consumptions'" [rubValue]="totalConsumptions.RUB" [usdValue]="totalConsumptions.USD" [eurValue]="totalConsumptions.EUR" [period]="'Monthly'"></app-money-card>
      <app-money-card [title]="'Money Left'" [rubValue]="totalLeft.RUB" [usdValue]="totalLeft.USD" [eurValue]="totalLeft.EUR" [period]="'Monthly'"></app-money-card>
      
</div>